@use "sass:math";
@use '/src/scss/variables.scss';
@use '/src/scss/base/mixins.scss';

.fancybox {

  &__container {
    --f-button-bg: transparent;
    --fancybox-backdrop-bg: var(--backdrop-bg-color);
    --f-button-width: max-content;
    --f-button-height: max-content;
    --f-button-svg-stroke-width: 2;
    --f-button-color: var(--white);
    --f-arrow-pos: #{mixins.toRem(4)};
    --f-arrow-height: calc(100% - #{mixins.toRem(8)});
    --f-arrow-width: #{mixins.toRem(38)};
    --f-arrow-border-radius: #{mixins.toRem(10)};
    --f-arrow-color: var(--violet-color);
    --f-arrow-bg: var(--light-blocks-bg-color);
    --f-arrow-hover-bg: var(--violet-color);
    --f-carousel-slide-bg: var(--fancybox-slide-bg-color);

    justify-content: center;
  }

  &__carousel {
    flex: 0 0 auto;
    background-color: var(--white);
    border-radius: mixins.toRem(10);
    padding: mixins.toRem(4) mixins.toRem(46);

    .f-button.is-arrow {
      &::before{
        inset: 0;
      }
    }

    &.is-horizontal .f-button.is-arrow.is-prev, 
    &.is-horizontal .f-button.is-arrow.is-next {
      transform: none;
      inset: auto auto 0 auto;
      height: calc(100% - var(--title-height, 0px));
    }
    &.is-horizontal.is-ltr .f-button.is-arrow.is-prev {
      left: var(--f-arrow-pos, 0);
    }
    &.is-horizontal.is-ltr .f-button.is-arrow.is-next {
      right: var(--f-arrow-pos, 0);
    }
  }

  &__backdrop {
    z-index: 9;
  }

  &__slide {
    --max-height-slide: #{mixins.vh(800,1140)};
    max-height: var(--max-height-slide);
    opacity: 0;
    --f-drag-opacity: 0;
    border-radius: mixins.toRem(10);
    padding: 0;
    &.has-html {
      padding: 0;
    }

    &.is-selected {
      opacity: 1;
    }
  }

  &__mhztitle {
    order: -1;
    margin: mixins.toRem(16) 0;
    font-weight: 700;
    line-height: math.div(42 , 32);
    color: var(--dark-text-color);
    font-size: mixins.toRem(32);
    &:not(:last-child) {margin-bottom: mixins.toRem(24);}
    @media (width < #{mixins.toEm(variables.$pc)}){
      font-size: mixins.toRem(24);
      &:not(:last-child) {margin-bottom: mixins.toRem(16);}
    }
    @media (width < #{mixins.toEm(600)}){
      font-size: mixins.toRem(20);
    }
    @media (width < #{mixins.toEm(variables.$mobileSmall)}){
      font-size: mixins.toRem(16);
    }

    &:empty {
      display: none;
    }
  }
}

.f-carousel {
  &__toolbar {
    translate: 0 -100%;
  }
}

.f-button {
  &[data-fancybox-close] {
    min-width: mixins.toRem(24);
    min-height: mixins.toRem(24);
    svg {
      path {
        stroke: var(--white);
      }
    }
  }
}

.f-panzoom__viewport {
  pointer-events: none;
}